<div class="row-fluid">
  </div class="span4">
    <div class="welcome">
      <h2 class="tag-line">one bad photo spoils the feed</h3>
      <div class="log-in">
        <%= button_to "Log in with Instagram", session_path, :class => "btn btn-success btn-large" %>
        <em><%= link_to "Don't use Instagram? Play as a guest", new_user_path %></em>
      </div>
    </div>
  </div>
</div>