<div class="row-fluid">
  </div class="span4">
    <div id="welcome">
      <h3 id="tag-line">one bad photo spoils the feed</h3>
      <%= button_to "Log in with Instagram", instagram_log_in, :id => "log-in", :class => "btn btn-success btn-large" %>
    </div>
  </div>
</div>