<div class="row-fluid">
  </div class="span4">
    <div class="welcome">
      <h2 class="tag-line">one bad photo spoils the feed</h3>
        <div class="directions">
          <h3>how to play</h3>
          <br>
          <p>click on a tile to reveal a photo. uncover all five matches and win. if you unleash the photo bomb, you're in dire need of an <span class="dramatic">#instavention</span>.</p>
        </div>
      <div class="log-in">
        <%= button_to "Log in with Instagram", session_path, :class => "btn btn-primary btn-large" %>
        <em><%= link_to "Not on Instagram? Play as a guest.", new_user_path %></em>
      </div>
    </div>
  </div>
</div>