<h1>#instavention</h1>

<div class="row" id="gameboard">
  <div class="span8">
    <div id="grid">
    </div>
  </div>
  <div class="span3 stats">
    <div id="match">
      <h3>#match</h3>
    </div>
    <div id="bomb">
      <h3>#nofilter</h3>
    </div>
  </div>
</div>