<div id="reset-game">
  <div class="reset-content">
    New Game
  </div>
</div>
<div class="stats">
  <div class="stats-content">
    <p>Games Won: <span id="win-count">0</span>
    <p>Games Lost: <span id="loss-count">0</span>
  </div>
</div>

<div class="row" id="gameboard">
</div>

<script type="text/template" id="grid-tpl">
  <div class="span3 play">
    <div class="span3">
      
      <h3>Match:</h3>
      <div class="tile">
        <img src="{{= match.attributes.url }}">
      </div>
      <p><em>{{= match.attributes.byline }}</em></p>
    </div>

    <div class="span3">
      <h3>Bomb:</h3>
      <div class="tile">
        <img src="{{= bomb.attributes.url }}">
      </div>
      <p><em>{{= bomb.attributes.byline }}</em></p>
    </div>
  </div>

  <div class="span8 grid">
    {{ _.each(grid, function(row) { }}
    <div class="row">
      {{ _.each(row, function(img) { }}
      <div class="span2 tile">
        <div class="cover">
          <img src="{{= img.attributes.url }}" class="hidden" data-bomb="{{= img.attributes.game_bomb }}" data-match="{{= img.attributes.game_match }}">
        </div>
      </div>
     {{ }); }}
    </div>
    {{ }); }}
  </div>
</script>