/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import 'bootstrap';

 h1, h2, h3 {
  text-align: center;
 }

 #gameboard {
  margin-top: 30px;
 }

 .grid img:hover, div.cover:hover {
  -moz-box-shadow: 0 0 30px #9D6B84;
  -webkit-box-shadow: 0 0 30px #9D6B84;
  box-shadow: 0 0 30px #9D6B84;
 }

 .grid img, .grid .cover, .stats img {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
 }

 .tile {
  margin: 10px;
 }

 .cover {
  width: 140px;
  height: 140px;
  background-color: black;
 }

 .hidden {
  opacity: 0;
 }

 .uncover {
  opacity: 1;
  [data-bomb="1"] {
    border: 10px solid red;
  }
 }
