/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require sessions.css.scss
 *= require photos.css.scss
 */
 @import 'bootstrap';

/* body {
  font-family: "Ariel", "Ariel";
 }*/

 header {
  background-color: black;
  color: white;
  width: 100%;
  min-width: 941px;
  height: 75px;
  position: fixed;
  top: 0px;
  -moz-box-shadow: 0 0 40px #888;
  -webkit-box-shadow: 0 0 40px #888;
  box-shadow: 0 0 40px #888;
 }

 .header-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
 }

 .header-content h1 {
  display: inline;
 }

 header img {
  height: 75px;
  border-radius: none;
 }

 .greeting {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 75px;
  background-color: white;
  color: black;
  background-color: #7f9cba;
 }

 .greeting-content {
  display: inline-block;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: #9CBA7F;
  font-size: 1.25em;
 }

 h2, h3, h4 {
  text-align: center;
 }

 .container {
  margin-top: 110px;
 }

 .stats {
  padding-left: 10px;
  display: inline-block;
 }

 h1 a, h1 a:visited, h1 a:hover, .greeting a, .greeting a:visited, .greeting a:hover {
  color: white;
 }

 a, a:visited, a:hover {
  color: #ba7f9c;
 }
