/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import 'bootstrap';

 header {
  background-color: black;
  color: white;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  -moz-box-shadow: 0 0 40px #888;
  -webkit-box-shadow: 0 0 40px #888;
  box-shadow: 0 0 40px #888;
 }

 h1 {
  font-size: 55px;
 }

 h2, h3 {
    text-align: center;
 }

 body {
    margin-top: 100px;
 }

 a, a:visited, a:hover {
  color: #C2A7C9;
 }

 .log-in {
  position: absolute;
  top: 20px;
  right: 5%;
 }

 #reset-game {
  position: relative;
  left: 50px;
  height: 50px;
  width: 120px;
  background-color: black;
  color: white;
  border: 1px solid #888;
 }

 .btn-text {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 15px;
 }

 .stats {
    margin-right: 50px;
 }

 .stats img {
    border: 1px solid #888;
 }

 .grid img:hover, div.cover:hover, #reset-game:hover {
    -moz-box-shadow: 0 0 30px #888;
    -webkit-box-shadow: 0 0 30px #888;
    box-shadow: 0 0 30px #888;
 }

 .grid img, .grid .cover, .stats img {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
 }

 .tile {
    margin-bottom: 10px;
 }

 .cover {
    width: 140px;
    height: 140px;
    background-image: url('question.jpeg');
    border: 5px solid black;
 }

 .hidden {
    opacity: 0;
 }

 .uncover {
    opacity: 1;
    border: 5px solid black;
 }

 .bomb {
    border: 5px solid red;
 }

 .match {
    border: 5px solid green;
 }

 .game-over {
    opacity: 0.3;
    border: 5px solid white;
 }
