// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .play {
  margin-right: 50px;
  text-align: center;
 }

 .play img {
  border: 1px solid #888;
 }

 .grid img:hover, div.cover:hover {
  -moz-box-shadow: 0 0 30px #888;
  -webkit-box-shadow: 0 0 30px #888;
  box-shadow: 0 0 30px #888;
 }

 .grid img, .grid .cover, .play img {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
 }

 .tile {
  margin-bottom: 10px;
 }

 .cover {
  width: 140px;
  height: 110px;
  background-color: black;
  border: 5px solid white;
  border-bottom: 35px solid white;
  border-radius: 4px;
 }

 .cover-text {
  font-size: 3em;
  font-weight: bold;
  color: white;
  position: relative;
  top: 40%;
  left: 42%;
 }

 .hidden {
  opacity: 0;
 }

 .uncover {
  opacity: 1;
  border: 5px solid black;
 }

 .bomb {
  border: 5px solid red;
 }

 .match {
  border: 5px solid #9CBA7F;
 }

 .game-over {
  opacity: 0.3;
  border: 5px solid white;
 }

 #reset-game {
  background-color: #9CBA7F;
  position: fixed;
  top: 0px;
  left: 280px;
  height: 75px;
  width: 110px;
  color: white;
  font-size: 1.25em;
 }

 #reset-game:hover {
  background-color: #82a85e;
 }

 .reset-content {
  padding-top: 25px;
  text-align: center;
 }

 #gameboard img {
  border-radius: 4px;
 }

 .stats {
  height: 75px;
  width: 243px;
  position: fixed;
  top: 0px;
  left: 390px;
  background-color: #ba7f9c;
 }
 .stats-content {
  padding-top: 12px;
  color: white;
  font-size: 1.25em;
 }