// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gameboard {
  margin-bottom: 50px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
}
  
 .play {
  margin-right: 25px;
  text-align: center;
 }

 .play img {
  border: 1px solid #888;
 }

 .grid img:hover, div.cover:hover {
  -moz-box-shadow: 0 0 30px #888;
  -webkit-box-shadow: 0 0 30px #888;
  box-shadow: 0 0 30px #888;
 }

 .grid img, .grid .cover, .play img {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
 }

 .tile {
  margin-bottom: 10px;
 }

 .cover {
  width: 140px;
  height: 110px;
  background-color: black;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 35px solid white;
  border-radius: 4px;
 }

 .hidden {
  opacity: 0;
 }

 .uncover {
  opacity: 1;
  border: 5px solid #7f9cba;
 }

 .bomb {
  border: 5px solid #ba7f9c;
 }

 .match {
  border: 5px solid #9CBA7F;
 }

 .game-over {
  opacity: 0.3;
  border: 5px solid white;
 }

 #reset {
  position: fixed;
  top: 0;
  left: 280px;
  z-index: 2;
 }

 .reset-game {
  background-color: #9CBA7F;
  height: 75px;
  width: 110px;
  color: white;
  font-size: 1.25em;
 }

 .reset-game:hover {
  background-color: #82a85e;
  cursor: pointer;
 }

 .reset-content {
  padding-top: 25px;
  text-align: center;
  text-shadow: 2px 2px 2px #888;
 }

 .gameboard img {
  border-radius: 4px;
 }

 .stats {
  height: 75px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 390px;
  background-color: #ba7f9c;
  display: inline-block;
  z-index: 2;
 }

 .stats-content {
  padding-top: 12px;
  color: white;
  font-size: 1.25em;
  text-shadow: 2px 2px 2px #888;
  text-align: center;
 }

 .game-status {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: black;
 }

 .win-status {
  color: #9CBA7F;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #888;
 }