// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  background-color: black;
  margin-top: 50px;
  border-radius: 4px;
  border: 15px solid white;
  border-bottom: 100px solid white;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  width: 460px;
  height: 400px;
  position: relative;
  left: 25%;
 }

.tag-line {
  color: white;
  margin-top: 25px;
 }

.log-in {
  position: relative;
  top: 335px;
  text-align: center;
 }

